* {
    margin: 0;
    font-family: 'Exo', sans-serif;
}

.bodyContainer {
    background: #6cd3f0;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}